{% extends 'base.html' %}

{% block title %} Home {%endblock%}

{% block content %}
<h1 style="text-align: center; font-weight: bold;">Welcome {{user.first_name}}</h1>
</br>
<h2 style="text-align: center;">List of your Notes</h2>

<div class="container">
  <h1>Your Notes</h1>
  {% for note in user.notes %}
  <div class="card mb-3">
      <div class="card-body d-flex justify-content-between align-items-center">
          <div>
              {{ note.data }}
          </div>
          <a href="/delete/{{note.id}}" aria-label="Close" class="btn-close"></a>
      </div>
  </div>
  {% endfor %}
</div>


  
  


    <form method="POST">
      <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label"><h3>Create new notes</h3></label>
            <textarea class="form-control" name= 'notes' id="notes" rows="3"></textarea>
    </div>
      </br>
      <button type="submit" class="btn btn-primary"> Add Note</button>
    </form>
{% endblock %}